[build]
  command = "npm run build"
  publish = "dist"
  
[build.environment]
  NODE_VERSION = "18"
  VITE_API_URL = "https://meetuptrae.netlify.app/.netlify/functions/api"
  VITE_ADMIN_PASS = "F7!tZp@93eL^Qx2u#D6vM*8rY%kB1wN&hG5sC$J0aT"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["express", "cors", "helmet", "jsonwebtoken", "@supabase/supabase-js", "serverless-http"]